.seccion_inicio{
    background-color:   #D9D9D9;
    height:100vh;
    width:100vw;
    margin-top: -50px;
}
.logo{
    display: flex;
    margin-top: 30px;
    margin-left: 2%;
}
.logo>img{
    height: 100px;
    margin-top: -20px;
}

.cabecera{
    margin: 50px;
    display: flex;
   justify-content: space-between;
    align-items: flex-end;
}
.menu ul{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.menu ul a:hover{
    color: #00c8ff;
    
}




.inicio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color:  #6E6E6E;
    
    margin-left: 80px;
    margin-top: 120px;
}
.botones{
    gap: 0px;
    margin-top: 50px;
    font-size: 40px;
    

}

.dudas{
    background-color: rgb(0, 178, 227);
    border-radius: 10px;
    font-size: 30px;
    width: 300px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.info{
    background-color: rgb(0, 178, 227);
    border-radius: 10px;
    font-size: 30px;
    width: 300px;
    color: rgb(241, 241, 241);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
.textblue{
    color: #00B2E3;
}

.cards{
    background-color: white;
    width: auto;
    height: 1920px;
    margin: 130px;
}
.cardtitle{
    color: #6E6E6E;
    font-size: 50px;
    background-color: white;
    
}

.gridcard1{
    display: grid;
    background-color: #ffffff;
    border-radius: 60px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 560px 100px;
    gap: 40px;
    margin-left: 100px;
    margin-right: 130px;
}

.gridcard2{
    display: grid;
    background-color: #ffffff;
    border-radius: 60px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 460px 100px;
    gap: 40px;
    margin-left: 100px;
    margin-right: 130px;
}

.gridcard3{
    display: grid;
    background-color: #ffffff;
    border-radius: 60px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 460px 100px;
    gap: 40px;
    margin-left: 100px;
    margin-right: 130px;
}

.card1{
    color: white;
    font-size: 30px;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    background-image: url(/flexBox/img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card2{
    
    color: white;
    font-size: 30px;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    background-image: url(/flexBox/img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card3{
    color: white;
    font-size: 30px;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    background-image: url(/flexBox/img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card4{
    color: white;
    font-size: 30px;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    background-image: url(/flexBox/img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card6{
    color: white;
    font-size: 30px;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    background-image: url(/flexBox/img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card5{
    color: white;
    font-size: 30px;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    background-image: url(/flexBox/img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}






footer{
    background-color: #D9D9D9; 
    height:10dvh; 
    
}

.opcion{
    padding-top: 20px;
    padding-bottom: 20px;
}


.opcion ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.textfooter{
    margin-bottom: -8px;
}

